<body>
  <div class="wrapper">
    <div class="row">
      <div class="col-md-7">
        <div class="parallax-homepage leading-photo" data-toggle="modal" data-target="#myModal2">
          <div class="center parallax-homepage-text">
            Jacob Dylan Moore
          </div>
        </div>
        <div class="panel fadePanel2">
          <div class="panel-heading center bio-text">
            NASA Intern &#9679; Software Engineer &#9679; Computer Scientist
          </div>
        </div>
      </div>
      <main class="col-md-5">
        <div class="row center">
          <div>
            <div class="fadePanel3">
              <%=link_to "Contact Me".html_safe, '', class: "sidebar-link", data: {toggle:'modal', target:'#myModal'}  %>
            </div>
            <div class="panel fadePanel4">
              <div class="panel-heading">
                Latest Projects
                <div class="float-right right">
                  <%=link_to "View all", projects_path %>
                </div>
              </div>
              <div class="panel-body remove-panel-body-padding homepage-table-panels">
                <table class="table table-striped remove-table-margin-bottom">
                  <%- if @projects.any? %>
                    <%- @projects.order("created_at DESC").each do |project| %>
                      <tr>
                        <th class="reduceTableHeader"> <%=link_to truncate(project.title, length: 25), project_path(project.id) %> </th>
                        <td class="moreTableSpace"> <%=truncate(project.description, length: 30) %> </td>
                      </tr>
                    <% end %>
                  <% else %>
                    Currently no content.
                  <% end %>
                </table>
              </div>
            </div>
            <div class="panel fadePanel5">
              <div class="panel-heading">
                Recent Blog Posts
                <div class="float-right right">
                  <%=link_to "View all", posts_path %>
                </div>
              </div>
              <div class="panel-body remove-panel-body-padding homepage-table-panels">
                <table class="table table-striped remove-table-margin-bottom">
                  <%- if Post.notDrafted.any? %>
                    <%- Post.notDrafted.order("created_at DESC").each do |post| %>
                      <tr>
                        <th class="increaseTableHeader"> <%=link_to truncate(post.title, length: 35), post_path(post.id) %> </th>
                        <td class=""> <%=post.created_at.strftime("%D") %></td>
                      </tr>
                    <% end %>
                  <% else %>
                    Currently no content.
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
        <button onclick="topFunction()" id="back-to-top">&uarr;</button>
      </main>
    </div>
  </div>
</body>
<footer class="center fadePanel6 homepage-footer">
  <p>
    ______
    <br>
    Designed and Created by Jacob Moore. View the source code on <a href="https://github.com/Jake25k" target="_blank"> GitHub</a>.
  </p>
</footer>


<!-- Modal Contact -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title center" id="myModalLabel">Contact Information:</h4>
      </div>
      <div class="modal-body center">
        |
        <a href="https://www.linkedin.com/in/jacob-moore-168990115/" target="_blank" class="social-media-icon">LinkedIn</a>
        | <br>
        To request a resume, send me an email @ <%= mail_to "moorej37@mymail.nku.edu" %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal Picture -->
<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body center">
        <%=image_tag 'leadingphoto.jpg', class: "tiny-pic" %>
      </div>
    </div>
  </div>
</div>
