<div class="wrapper">
  <div class="panel">
    <div class="panel-heading">
      Edit Project
    </div>
    <div class="panel-body">
      <%= simple_form_for(@project) do |f| %>
          <div class="field">
            <%= f.label :title %><br>
            <%= f.text_field :title %><br>
            <%= f.label :description %><br>
            <%= f.text_field :description %><br>
            <%= f.label :content %><br>
            <%= f.text_area :content, class: "tinymce", rows: "20" %>
            <%= tinymce :plugins => ["wordcount", "paste", "image", "link"] %>
          </div>

          <br>

          <%= f.submit "Submit", class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>