<div class="wrapper">
  <div class="parallax-projects">
    <div class="center parallax-text">
      Projects
    </div>
  </div>
  <div class ="black-div">
  </div>
  <div class="panel center">
    <%-if current_admin %>
      <div class="panel-body center">
        <%=link_to "New Project", new_project_path, class:"btn btn-primary" %>
      </div>
    <% end %>
    <h4>
      Select a type:
      <select id="selector">
        <option value="nil">All</option>
        <option value="NASA">NASA</option>
        <option value="InProgress"> In Progress </option>
        <option disabled> ------------- </option>
        <%-@projectsForTags.each do |p|%>
            <%- unless p == 'NASA' #Ignore the tag 'NASA' so it can be displayed on top%>
              <option value=<%=p.gsub(' ','_')%>> <%=p%> </option>
            <% end %>
        <% end %>
      </select>
    </h4>
  </div>
  <div class="tableToDissapear">
    <%- @projects.each do |project| %>
      <%=link_to project_path(project) do %>
        <div class = "col-md-6 center">
          <%=project_cover_image_with_text(project) %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% #rendered partial appears here %>
  <div id="renderedTable">
  </div>
  <div class="center col-md-12">
    <%= will_paginate @projectsForPagination, renderer: BootstrapPagination::Rails, class: "tableToDissapear" %>
    <%=render partial: "layouts/footer" %>
  </div>
</div>
