<div class="wrapper">
  <div class="parallax-projects">
    <div class="center parallax-text">
      Projects
    </div>
  </div>
  <div class ="black-div">
  </div>
  <div class="panel">
    <%-if current_admin %>
      <div class="panel-body">
        <%=link_to "New Project", new_project_path, class:"btn btn-primary" %>
      </div>
    <% end %>
      <%-if @projects.any? %>
        <center>
          <h4>
            Select a type:
            <select id="selector">
              <option value="nil">All</option>
              <%-Project.notDrafted.all.map(&:project_type).uniq.each do |p|%>
                <option value=<%=p.gsub(' ','_')%>> <%= p%></option>
              <% end %>
            </select>
          </h4>
        </center>
      <%end %>

    <div class="tableToDissapear">
      <table class="table table-striped ">
        <%- if current_admin %>
            <%-if @projects.any? %>
                <th> Project Name:</th>
                <th> Description: </th>
                <%-@projects.order("created_at DESC").each do |project| %>
                    <tr>
                      <%- if project.draft == true %>
                          <td> <%=link_to "#{project.title} (IN PROGRESS)", project_path(project.id)%> </td>
                      <%- else %>
                          <td> <%=link_to project.title, project_path(project.id) %> </td>
                      <% end %>
                      <td> <%= project.description %> </td>
                    </tr>
                <% end %>
            <%-else %>
                <div class="center">
                  Currently no content.
                </div>
            <% end %>
        <%-else %>
            <%-if Project.notDrafted.any? %>
                <th> Project Name:</th>
                <th> Description: </th>
                <%-Project.notDrafted.order("created_at DESC").each do |project| %>
                    <tr>
                      <td> <%=link_to project.title, project_path(project.id) %> </td>
                      <td> <%= project.updated_at.strftime("%D") %> </td>
                    </tr>
                <% end %>
            <%-else %>
                <div class="center">
                  Currently no content.
                </div>
            <% end %>
        <% end %>
      </table>
    </div>
    <% #rendered partial appears here %>
    <div id="renderedTable">
    </div>
    <center class="tableToDissapear">
      <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
    </center>
  </div>
</div>

<%=render partial: "layouts/footer" %>
