<div class="wrapper">
  <div class="parallax-projects">
    <div class="center parallax-text">
      Projects
    </div>
  </div>
  <div class ="black-div">
  </div>
  <div class="panel">
    <%-if current_admin %>
      <div class="panel-body center">
        <%=link_to "New Project", new_project_path, class:"btn btn-primary" %>
      </div>
    <% end %>
    <%-if @projects.any? %>
      <center>
        <h4>
          Select a type:
          <select id="selector">
            <option value="nil">All</option>
            <%-@projects.map(&:project_type).uniq.each do |p|%>
              <option value=<%=p.gsub(' ','_')%>> <%=p%> </option>
            <% end %>
          </select>
        </h4>
      </center>
    <%end %>
  </div>
  <div class="tableToDissapear">
    <%- @projects.order("created_at DESC").each do |project| %>
      <%=link_to project_path(project) do %>
        <div class = "col-md-6 center">
          <%=project.project_cover_image_with_text %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% #rendered partial appears here %>
  <div id="renderedTable">
  </div>
  <div class="center col-md-12">
    <%= will_paginate @projectsForPagination, renderer: BootstrapPagination::Rails, class: "tableToDissapear" %>
    <%=render partial: "layouts/footer" %>
  </div>
</div>
