<div class="wrapper">
  <div class="panel">
    <div class="panel-heading">
      Create New Project
    </div>
    <div class="panel-body">
      <%= simple_form_for(@project) do |f| %>
          <div class="field">
            <%= f.label :title %><br>
            <%= f.text_field :title %><br>
            <%= f.label :description %><br>
            <%= f.text_field :description %><br>
            <%= f.label :project_type, class: "project_type" %> <br>
            <%= f.text_field :project_type, input_html: { data: {autocomplete_source: '/projects/new/project_types'} }%><br>
            <%= f.label :content %><br>
            <%= f.text_area :content, class: "tinymce", rows: "20" %>
            <%= f.input :draft, label: "Draft?", as: :boolean, checked_value: true, unchecked_value: false %>
            <%= tinymce %>
          </div>

          <br>

          <%= f.submit "Submit", class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>