<div class="wrapper">
  <div class="panel">
    <div class="panel-heading">
      <div class="">
        <h1 class="title">
          <%= @project.title %>
          <%- if @project.draft == true %>
              (UNLISTED)
          <% end %>
        </h1>
      </div>
      <div>
        <div>
          <%=link_to "Back", projects_path, class:"btn btn-primary" %>
          <%- if current_admin %>
            <%=link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Confirm delete?"}, class: "btn btn-danger" %>
            <%=link_to "Edit", edit_project_path(@project), class:"btn btn-info" %>
            |
            <%-if @project.pinned_project == false %>
              <%=link_to "#{content_tag(:span,'',class:'glyphicon glyphicon-remove')}".html_safe, pin_Or_Unpin_Project_path(@project), method: :post, class: 'btn btn-success' %>
              Pin Project?
            <% else %>
              <%=link_to "#{content_tag(:span,'',class:'glyphicon glyphicon-ok')}".html_safe, pin_Or_Unpin_Project_path(@project), method: :post, class: 'btn btn-success' %>
              Project Pinned!
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel-body project-content">
      <%= (@project.content).html_safe %>
      <%-if current_admin %>
          <%= link_to "Share on Facebook", '',class: "btn btn-primary", data: {toggle:'modal', target:'#myModal'} %>
      <%end%>
    </div>
  </div>
</div>

<!--Modal-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title center" id="myModalLabel">Share Information:</h4>
      </div>
      <div class="modal-body">
        <%= link_to "Share", "https://www.facebook.com/dialog/feed?app_id=145634995501895&display=popup&link=#{request.original_url}", target: "_blank", class: "btn btn-primary center"%>
        <br><br>
        <%= "Copy this text:"%>
        <h3>
          <%= "Jake Moore just made a new project titled '#{@project.title}'. View it here! #{request.original_url}" %>
        </h3>
      </div>
    </div>
  </div>
</div>