<div class="wrapper">
  <div class="panel">
    <div class="panel-heading">
      <div class="">
        <h1 class="title">
          <%= @project.title %>
        </h1>
      </div>
      <div>
        <div>
          <%-if current_admin %>
              <%=link_to "Back", projects_path, class:"btn btn-primary" %>
          <% else %>
            <%=link_to "Back", :back, class:"btn btn-primary" %>
          <% end %>

          <%- if current_admin %>
            <%=link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Confirm delete?"}, class: "btn btn-danger" %>
            <%=link_to "Edit", edit_project_path(@project), class:"btn btn-info" %>
            |
            <%-if @project.pinned_project == false %>
              <%=link_to "#{content_tag(:span,'',class:'glyphicon glyphicon-remove')}".html_safe, pin_Or_Unpin_Project_path(@project), method: :post, class: 'btn btn-success' %>
              Pin Project?
            <% else %>
              <%=link_to "#{content_tag(:span,'',class:'glyphicon glyphicon-ok')}".html_safe, pin_Or_Unpin_Project_path(@project), method: :post, class: 'btn btn-success' %>
              Project Pinned!
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel-body project-content">
      <%= (@project.content).html_safe %>
      <%= link_to "Share", "https://www.facebook.com/dialog/feed?app_id=145634995501895&display=popup&link=#{request.original_url}", target: "_blank", class: "btn btn-primary center"%>
    </div>
  </div>
</div>

<%=render partial: "layouts/footer" %>