<div class="wrapper">
  <div class="parallax-blog">
    <div class="center parallax-text">
      Personal Blog
    </div>
  </div>
  <%-if current_admin %>
    <div class="panel">
      <div class="panel-body center">
        <%=link_to "New Post", new_post_path, class:"btn btn-primary" %>
      </div>
    </div>
  <% else %>
    <br>
  <% end %>
  <%-if @posts.any? %>
    <div class="posts-index-section">
      <%- @posts.each do |post| %>
        <div class="panel post-panel">
          <div class="panel-heading">
            <h2 class="post-title">
              <%=link_to post.post_title, post_path(post) %>
            </h2>
          </div>
          <div class="post-description">
            <%- if post.draft == true %>
              <b>CURRENTLY IN DRAFT MODE</b><br>
            <% else %>
              <b><%= "Created at: " + post.created_at.strftime("%Y %b %e %H:%M") %></b><br>
              <%- if post.created_at != post.updated_at %>
                <b><%= "Edited on: " + post.updated_at.strftime("%Y %b %e %H:%M") %></b><br>
              <% end %>
            <% end %>
            <br>
            <%= post.content.html_safe %>
          </div>
        </div>
      <% end %>
      <div class="center">
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  <% else %>
    <div class="panel center">
      Currently no content.
    </div>
  <% end %>
</div>

<%=render partial: "layouts/footer" %>