<div class="wrapper">
  <div class="parallax-blog">
    <div class="center parallax-text">
      Personal Blog
    </div>
  </div>
  <div class ="black-div">
  </div>
  <div class="panel">
    <%-if current_admin %>
        <div class="panel-body">
          <%=link_to "New Post", new_post_path, class:"btn btn-primary" %>
        </div>
    <% end %>
    <div>
      <table class="table table-striped">
        <%- if current_admin %>
            <%-if @posts.any? %>
                <th> Post Name:</th>
                <th> Published: </th>
                <%-@posts.order("created_at DESC").each do |post| %>
                    <tr>
                      <%- if post.draft == true %>
                          <td> <%=link_to "#{post.title} (IN PROGRESS)", post_path(post.id)%> </td>
                      <%- else %>
                          <td> <%=link_to post.title, post_path(post.id) %> </td>
                      <% end %>
                      <td> <%= post.updated_at.strftime("%D") %> </td>
                    </tr>
                <% end %>
            <%-else %>
                <div class="center">
                  Currently no content.
                </div>
            <% end %>
        <%-else %>
            <%-if Post.notDrafted.any? %>
                <th> Post Name:</th>
                <th> Published: </th>
                <%-Post.notDrafted.order("created_at DESC").each do |post| %>
                    <tr>
                      <td> <%=link_to post.title, post_path(post.id) %> </td>
                      <td> <%= post.updated_at.strftime("%D") %> </td>
                    </tr>
                <% end %>
            <%-else %>
                <div class="center">
                  Currently no content.
                </div>
            <% end %>
        <% end %>
        <div class="center">
          <%= will_paginate @posts %>
        </div>
      </table>
    </div>
  </div>
</div>

<%=render partial: "layouts/footer" %>