<div class="wrapper">
  <div class="panel">
    <div class="panel-heading">
      Create New Post
    </div>
    <div class="panel-body">
      <%= simple_form_for(@post) do |f| %>
          <div class="field">
            <%= f.label :title %><br>
            <%= f.text_field :title %><br>
            <%= f.label :content %><br>
            <%= f.bootsy_area :content, class: "fix-bootsy", cols: "100", rows: "10" %><br>
          </div>

          <br>

          <%= f.submit "Submit", class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>