<div class="wrapper">
  <div class="panel">
    <div class="panel-heading">
      <h1 class="title">
        <%= @post.title %>
        <%- if @post.draft == true %>
          (DRAFT)
        <% end %>
      </h1>
        <div>
          <%=link_to "Back", posts_path, class:"btn btn-primary" %>
          <%- if current_admin %>
            <%=link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Confirm delete?"}, class: "btn btn-danger" %>
            <%=link_to "Edit", edit_post_path(@post), class:"btn btn-info" %>
          <% end %>
        </div>
      </div>
    <div class="panel-body">
      <%- if @post.draft == false %>
        <b> Published on: <%= @post.created_at.strftime("%Y %b%e %H:%M") %> </b><br>
        <%-if @post.updated_at != @post.created_at %>
            <b> Edited on: <%= @post.updated_at.strftime("%Y %b%e %H:%M") %> </b><br>
        <% end %>
      <% else %>
          <b>DRAFT MODE (Currently Not Published)</b><br>
      <% end %>
      <div class="margin-top posts-content">
        <br>
        <%= (@post.content).html_safe%>
        <%= link_to "Share", "https://www.facebook.com/dialog/feed?app_id=145634995501895&display=popup&link=#{request.original_url}", target: "_blank", class: "btn btn-primary center"%>
      </div>
    </div>
  </div>
</div>

<%=render partial: "layouts/footer" %>