<!DOCTYPE html>
<html
      xmlns="http://www.w3.org/1999/xhtml"
      prefix="og: http://ogp.me/ns#">
  <head>
    <title>Jacob Moore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= favicon_link_tag 'favicon.ico'%>
    <meta property="og:image" content="app/assets/images/leadingphoto.jpg"/>
    <meta property="og:description" content="Visit Jacob Moore's offical webpage!"/>
    <meta name="viewport" content="width=800px"/>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  </head>

  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand"><%=ifAdminSession %> </div>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if current_admin %>
              <li> <%=link_to "Log Out", destroy_admin_session_path, method: :delete %> </li>
            <% end %>
            <li> <%=link_to "Home", root_path %> </li>
            <li> <%=link_to "About", about_path %> </li>
            <li> <%=link_to "Projects", projects_path %> </li>
            <li> <%=link_to "Blog", posts_path %> </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
